/* STYLE */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px auto;
    box-sizing: border-box;
    background-color: cornflowerblue;
}


main {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 16px;
}


h2 {
    color: whitesmoke;
    font-size: 32px;
}


.mg {
    margin: 0px;
}


.mg-top {
    margin-top: 40px;
}


.mg-left {
    margin-left: 0px;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #28060685;
}


.content-wrapper {}


form {
    display: flex;
    gap: 32px;
    align-items: center;
}


input {
    padding: 5px 16px;
    border-radius: 4px;
}


.input-container {
    display: flex;
    flex-direction: column;
    margin: 32px 0px;
}


.notes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


footer {
    width: 100%;
    height: 80px;
    background-color: #28060685;
}